<div class="search-form">
    <div class="card">
        <div class="card-body">
            <form class="form-inline">
                <input
                    type="text"
                    class="form-control flex-sm-fill mr-2"
                    placeholder="Search"
                    name="searchTerm"
                />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <div class="search-tags my-4"></div>
</div>
