.search-tag {
    padding: 0 1rem;
    border-radius: 2rem;

    &__value {
        display: inline-block;
        max-width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        line-height: 1.25rem;
    }

    &__remove {
        padding: 0;
        font-size: 1.25rem;
    }

    &__value,
    &__remove {
        vertical-align: middle;
    }
}
